<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqz.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.gqz.pojo.OrderBook">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
            <result property="bookNum" column="book_num" jdbcType="INTEGER"/>
            <result property="sumPrice" column="sum_price" jdbcType="DOUBLE"/>
            <result property="time" column="time" jdbcType="DATETIME"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,book_name,book_num,
        sum_price,time
    </sql>
</mapper>
